.destra 
{
    align-items: center;
}

.centro 
{
    margin: auto;
}

p 
{
    display: inline;
}

h3 
{
    text-align: center;
}

table,
th,
td 
{
    border-bottom: 2px solid black;
    text-align: center;
}